<%= form_with(model: home_appliance, local: true) do |form| %>
  <% if home_appliance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(home_appliance.errors.count, "error") %> prohibited this home_appliance from being saved:</h2>

      <ul>
        <% home_appliance.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="field">
    <%= form.label :brandname %>
    <%= form.text_field :brandname %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :condition %>
    <%= form.text_field :condition %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
